# Checkpoint files
.ipynb_checkpoints
__pycache__/
tests/
src/
__pycache__/
Solucoes_com_LLMs.egg-info

# Env Varibles 
.env

# Python files
*.ipynb
.idea
.pdm-python
pdm.lock
.venv

# Files
*.csv
*.pdf
*.json
*.md