deep-translator>=1.11.4
langchain
langchain-community
langchain-qdrant
langchain-openai
langchain-huggingface
llama-index
llama-index-embeddings-huggingface
huggingface-hub
llama-index-llms-groq
llama-index-llms-cohere
llama-index-llms-openai
llama-index-experimental
pandas
openpyxl
python-dotenv
plotly>=6.7.0
polars
streamlit>=1.56.0
mistralai==2.4.8
langchain-mistralai==1.1.4