.footer {
    background-color: #f8f9fa;
    padding: 20px 25px;
    border-radius: 10px;
    border-left: 9px solid #972328;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 20px;
    margin-bottom: 15px;
    color: #343a40;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
.footer p {
    font-size: 16px;
    margin-bottom: 15px;
}
.footer a {
    margin: 0 12px;
    display: inline-block;
}
.footer img {
    height: 36px;
    width: 36px;
    border-radius: 6px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.footer img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 8px rgba(5, 206, 106, 0.4);
}

 .download-btn { background-color: #1E3A8A; color: rgb(251, 235, 235);
     font-weight: bold; padding: 10px 20px;
      border-radius: 8px; border: none; cursor: pointer; }
      .download-btn:hover { background-color: #3B82F6; }

.main-header { font-size: 2.5rem; 
    color: #1E3A8A; font-weight: 700; margin-bottom: 2rem; }
.card { background-color: rgb(247, 255, 245); padding: 2rem;
         border-radius: 15px; border: 1px snow #91ae9c;
          box-shadow: 0 4px 6px rgba(0,0,0,0.05); }